body {
	background-color:#D6EBFF;
	}



h1, h2, h3, h4, h5, h6 {
	font-family:"Droid Sans", sans-serif;
	color:#E68A00;
	text-align:center;
	}
p {
	font-family:"Raleway", sans-serif;
	font-size:14px;
	color: #191970;
	}


img.rick {
	display:block;
	margin-left:auto;
	margin-right:auto;
	height:200px;
	width:250px;
	}

a {
	font-family:"Raleway", sans-serif;
	font-size:14px;
	font-weight:bold;
}
	a:link  {text-decoration:none;
			color: #191970;}
	a:visited { color: #191970; } 
	a:hover { color: #E68A00 }
	a:active { color: #191970; }

li {
	font-family:"Droid Sans", sans-serif;
	color: #191970;
	font-size:12px;
	font-weight:bold;

}

#danger { 
	margin-left:50px;
	margin-right:auto;
	height:150px;
	width:200px;
	}

#footer {
	margin-left:auto;
	margin-right:auto;
	width:500px;
	text-align:center;
}


