body {
	width: 960px;
	margin: 0 auto;
	}
	
#content {
	overflow: scroll;
	height: 500px}

h1.title {
	text-align:right;
	letter-spacing:12px;}

ul {
	list-style-type:none;
	margin:0px;
	padding:0px;
	overflow:hidden;}

li {
	font-family: "Droid Sans", sans-serif;
	float:left;
	text-align: left;}

li.navtext {
	font-family: "Droid Sans", sans-serif;
	float:left;
	text-align: center;}

#nav, #footer {
	background-color: #efefef;
	padding: 10px;
	margin: 10px;
	text-align: center;}

#feature, #sidebar {
	background-color: #efefef;
	padding: 10px;
	margin: 10px;
	width: 600px;
	text-align: left;
	float: left;
	overflow:scroll;}

#sidebar {
	width: 280px;
	min-height:500px;
	overflow:scroll;}

figure, figcaption {
	display:block;
	text-align:center;
	font-size:10px;
	font-family:"Droid Sans", sans-serif;}

#apple {
	display:block;
	width:180px;
	height:200px;
	margin-left:auto;
	margin-right:auto;}

a {
	text-decoration: none;
	color: #666;
	font-weight:bold;
	display:block;
	padding: 10px;
	background-color:#99C2FF;
	border: 1px solid #efefef;
	width: 207px;}

a:hover {
	background-color: #CAE6AF;}

h1 {
	font-family: "Droid Sans", sans-serif;
	color: #495654;} 

p {
	font-family: "Droid Sans", sans-serif;}

span {
	color:blue;
	font-weight:bold;
	font-style:italic;}
